@use "../abstracts/" as *;

.heading {
    font-size: 2rem;
    font-weight: 500;
    text-transform: none;
    color: $black;
    position: relative;
    text-align: center;
    @include responsive(xsm) {
        font-size: 1.8rem;
        padding-bottom: 1rem;
        padding-top: 1rem;
    }
    
    &::after {
        @include position(absolute, 50%, null, null, 0);
        content: "";
        //width: 15.3rem;
        height: .5rem;
        background: $green-600;
        opacity: 0.5;
    }
}
.items-center {
    align-items: center;
}