@use "../abstracts/" as *;

.footer {
    padding: $padding-y 0;
    background: linear-gradient(to top, $white 50%, $white 50%);
    margin-top: -13rem;
    @include responsive (sm){
        margin-top: -35rem;
    }
    &__image {
        width: 18rem;
        height: 18rem;
        padding: .5rem;
        border-radius: 50%;
        border-left: 0.6rem dotted $green-500;
        position: relative;
        margin-left: 15rem;
        margin-top: 25rem;
        @include responsive(sm) {
            visibility: hidden;
        }
        @include responsive(md) {
            visibility: hidden;
        }
        img {
            @include imageCover;
            border-radius: 50%;
        }
        &__label {
            @include position(absolute, 0, -9rem, null, null);
            background: $green-500;
            color: $white;
            padding: .8rem 1.3rem;
            font-size: 1.2rem;
            font-weight: 500;
            text-transform: capitalize;
            border-top-left-radius: 50%;
            @include responsive(sm) {
                visibility: hidden;
            }
            @include responsive(md) {
                visibility: hidden;
            }
            @include responsive(ls) {
                visibility: hidden;
            }
        }
    }
    &__copyright {
        margin-top: 1.5rem;
        font-size: 1.4rem;
        width: 70%;
        color: $black;
        margin-left: 7rem;
        text-align: center;
        @include responsive(md) {
            visibility: hidden;
            margin-top: -55rem;
        }
        @include responsive(sm) {
            visibility: hidden;
            margin-top: -33rem;
        }
        &--name {
            font-size: 1.5rem;
            font-weight: 500;
            color: $green-600;
            text-transform: none;
        }
    }
}